.extra {
  width: 100%;
  height: auto;
  border-top: 1px solid $line;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    border-top: none;
  }
}

.extra__container {
  width: 100%;
  margin-top: 35px;
  color: $grey;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }
}

.extra-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 5px;
  }
}

.extra-item {
  &:last-of-type {
    text-align: right;
    padding-left: 26%;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;

    &:last-of-type {
      padding-left: 0;
    }
  }
}

.extra-item--hidden {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.extra-text {
  font-family: $ptMono;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  margin: 0;
}
