.footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 55px;
  padding-left: 15px;
  padding-right: 5px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.footer__container {
  width: 100%;
  height: auto;
}

.footer__container--extra {
  width: 100%;
  height: auto;
  border-top: 1px solid $line;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (max-width: $mobile-width) {
    border-top: none;
  }
}

/* контейнеры для флекса */

.footer__logo {
  width: 29.3%;
  padding-top: 10px;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $line;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 35px;
  }
}

.footer__nav {
  width: 44.3%;
  padding-right: 6px;
  padding-left: 6px;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid $line;
  }
}

.footer__contact {
  width: 25.3%;
  color: $grey;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $tablet-width) {
    width: 50%;
    padding-top: 25px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    position: relative;
    padding: 15px;
    border-bottom: 1px solid $line;
  }
}

.footer__extra {
  width: 100%;
  margin-top: 35px;
  color: $grey;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 20px;
  }
}

/*--- end ---*/

.footer__contact-title {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;

  @media (max-width: $tablet-width) {
    align-self: flex-start;
  }
}

.footer__contact-text {
  font-family: $ptMono;
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;
  margin: 0;
}

.footer__contact-list--hidden {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.footer__extra-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-top: 5px;
  }
}

.footer__extra-item {
  &:last-of-type {
    text-align: right;
    padding-left: 26%;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;

    &:last-of-type {
      padding-left: 0;
    }
  }
}

.footer__extra-item--hidden {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__extra-text {
  font-family: $ptMono;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  margin: 0;
}

.footer__logo--show {
  display: block;
}

/* оформление кнопок */

.footer__btn {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.footer__btn--minus {
  background: transparent url("../img/icon-minus.svg") center no-repeat;
}

.footer__btn--plus {
  background: transparent url("../img/icon-plus.svg") center no-repeat;
}

.footer__btn--position {
  top: 25px;
  right: 15px;
}

/* end */
