.header {
  min-height: 877px;
  background: #1b2d37 url("../img/bg-header.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .header {
    background: #1b2d37 url("../img/bg-header@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  outline: 1px solid red; // времено
}

.header__list {
  display: flex;
  align-items: center;
}

.header__email {
  margin-right: 80px;
}

.header__phone {
  margin-right: 50px;
}

.header__email-text,
.header__phone-text {
  font-family: $ptMono;
  margin-left: 20px;
}

.header__call {
  @include btn();

  width: 180px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  padding: 11px 0;
  border: 1px solid #ffffff;
  background-color: transparent;
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 684px;
  }

  .header__container {
    padding-top: 15px;
  }

  .header__email-text,
  .header__phone-text,
  .header__call {
    display: none;
  }

  .header__email {
    margin-right: 34px;
  }

  .header__phone {
    margin-right: 23px;
  }

  .header__email-img {
    width: 25px;
    height: 18px;
  }

  .header__phone-img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    min-height: 650px;
  }

  .header__container {
    padding-top: 6px;
  }

  .header__email {
    margin-right: 23px;
  }

  .header__phone {
    margin-right: 15px;
  }
}
