.product {
  background-color: $grey;
  padding-top: 60px;
  padding-bottom: 125px;

  @media (max-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 35px;
  }
}

.product__title {
  font-size: 36px;
  font-weight: normal;

  @media (max-width: $tablet-width) {
    max-width: 620px;
    font-size: 32px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    padding-left: 10px;
  }
}

.product__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin-top: 52px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 35px;
  }
}

.product__link {
  width: calc(33% - 17px);

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.product__item {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 45px;

  &:hover {
    @include hover();
  }

  @media (max-width: $tablet-width) {
    height: 256px;
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 10px;
    padding-left: 37px;
    margin-bottom: 30px;
  }
}
/* production */
.product__item--production {
  background: url("../img/production.webp") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/production@2x.webp") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/production-tablet.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/production-tablet@2x.webp") center no-repeat;
      background-size: cover;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/production-mobile.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/production-mobile@2x.webp") center no-repeat;
      background-size: cover;
    }
  }
}

/* если не поддерживается webp */
.no-webp .product__item--production {
  background: url("../img/production.png") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/production@2x.png") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/production-tablet.png") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/production-tablet@2x.png") center no-repeat;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/production-mobile.png") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/production-mobile@2x.png") center no-repeat;
      background-size: cover;
    }
  }
}

/* mounting */
.product__item--mounting {
  background: url("../img/mounting.webp") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/mounting@2x.webp") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/mounting-tablet.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/mounting-tablet@2x.webp") center no-repeat;
      background-size: cover;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/mounting-mobile.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/mounting-mobile@2x.webp") center no-repeat;
      background-size: cover;
    }
  }
}

/* если не поддерживается webp */
.no-webp .product__item--mounting {
  background: url("../img/mounting.png") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/mounting@2x.png") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/mounting-tablet.png") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/mounting-tablet@2x.png") center no-repeat;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/mounting-mobile.png") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/mounting-mobile@2x.png") center no-repeat;
      background-size: cover;
    }
  }
}

/* extra */
.product__item--extra {
  background: url("../img/extra.webp") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/extra@2x.webp") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/extra-tablet.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/extra-tablet@2x.webp") center no-repeat;
      background-size: cover;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/extra-mobile.webp") center no-repeat;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/extra-mobile@2x.webp") center no-repeat;
      background-size: cover;
    }
  }
}

/* если не поддерживается webp */
.no-webp .product__item--extra {
  background: url("../img/extra.png") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/extra@2x.png") center no-repeat;
    background-size: cover;
  }

  /* tablet */
  @media (max-width: $tablet-width) {
    background: url("../img/extra-tablet.png") center no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/extra-tablet@2x.png") center no-repeat;
    }
  }

  /* mobile */
  @media (max-width: $mobile-width) {
    background: url("../img/extra-mobile.png") center no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/extra-mobile@2x.png") center no-repeat;
    }
  }
}

.product__item-title {
  width: 170px;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: $tablet-width) {
    margin-top: 10px;
  }
}

.product__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 63px;
  height: 63px;
  background: $blue;
}
