.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 55px;
  width: 110px;

  @media (max-width: $tablet-width) {
    margin-top: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.social__icon {
  &:hover {
    @include hover();
  }
}
