* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $robotoCondensed;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 15px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container--big {
  max-width: 1440px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
