// цвета
$blue: #00b2ff;
$text: #666666;
$white: #ffffff;
$line: rgba(98, 105, 98, 0.2);
$grey: #1b2d37;

// брейкпоинты
$mobile-width: 767px;
$tablet-width: 1023px;

// ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$robotoCondensed: "Roboto Condensed", "Arial", sans-serif;
$roboto: "Roboto", "Arial", sans-serif;
$ptMono: "PT Mono", "Courier New", monospace;
