.advantage {
  background: url("../img/bg-about.webp") center no-repeat;
  background-size: cover;
  z-index: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #1b2d37 url("../img/bg-about@2x.webp") center no-repeat;
    background-size: cover;
  }
}

/* если не поддерживается webp */
.no-webp .advantage {
  background: url("../img/bg-about.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-about@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.advantage__wrapper {
  padding-top: 93px;
  padding-bottom: 110px;

  @media (max-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 80px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 18px;
    padding-bottom: 60px;
    padding-left: 5px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage__icon {
  width: 35px;
  height: 35px;
}

.advantage__item {
  width: calc(50% - 15px);
  min-height: 299px;
  border: 1px solid #ebebeb;
  border-left: 2px solid $blue;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-left: 45px;
  padding-right: 42px;
  padding-top: 45px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  &:hover {
    background-color: $blue;

    .advantage__title,
    .advantage__desc {
      color: $white;
    }

    .advantage__icon {
      stroke: $white;
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 232px;
    padding-left: 25px;
    padding-right: 0;
    padding-top: 23px;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 15px);
    margin-right: 0;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 232px;
  }
}

.advantage__title {
  font-size: 24px;
  font-weight: normal;
  color: $blue;
  margin-top: 18px;

  @media (max-width: $tablet-width) {
    margin-top: 5px;
    margin-bottom: 0;
    padding-right: 10px;
  }

  @media (max-width: $mobile-width) {
    width: 240px;
    margin-top: 10px;
    font-size: 20px;
    padding-right: 0;
  }
}

.advantage__desc {
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
  color: $text;

  @media (max-width: $tablet-width) {
    padding-right: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    padding-right: 5px;
  }
}
