.feedback {
  background-color: $blue;
  z-index: 1;
  position: relative;
  padding-bottom: 115px;

  @media (max-width: $tablet-width) {
    padding-bottom: 105px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 40px;
  }
}

.feedback__img {
  position: relative;
  width: 50%;
  height: 288px;
  top: 100px;
  left: -22px;

  &::before {
    content: "";
    position: absolute;
    top: -226px;
    left: -153px;
    width: 645px;
    height: 653px;
    background: url("../img/geometry.svg") center no-repeat;
    background-size: cover;
    z-index: -1;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.feedback__wrapper {
  display: flex;
  padding-top: 65px;

  @media (max-width: $mobile-width) {
    padding-top: 15px;
  }
}

.feedback__form-wrapper {
  width: 50%;
  padding-left: 15px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0;
  }
}

.feedback__title {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 35px;
  }
}

.feedback__text {
  font-family: $ptMono;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 22px;
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 25px;
    margin-top: 18px;
  }
}
