/* Стилизация формы */
.form {
  display: flex;
  flex-wrap: wrap;
  font-family: $ptMono;
}

.form input {
  width: 48%;
  padding: 15px;
  margin-bottom: 36px;
  color: $white;
  background-color: #1fb8fb;
  border: none;
  cursor: pointer;

  &:first-of-type {
    margin-right: 4%;
  }

  &::placeholder {
    color: $white;
    font-size: 16px;
    line-height: 22px;
  }

  &:focus {
    outline: 1px solid $white;
  }

  &:hover {
    @include hover();
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
    width: 47%;

    &:first-of-type {
      margin-right: 6%;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-bottom: 35px;

    &:first-of-type {
      margin-right: 0;
    }
  }
}

.form--nomargin input {
  &:first-of-type {
    margin-right: 0;
  }
}

.form textarea {
  width: 100%;
  height: 154px; /* Высота поля в пикселах */
  resize: none; /* Запрещаем изменять размер */
  cursor: pointer;

  padding: 15px;
  margin-bottom: 50px;
  color: $white;
  background-color: #1fb8fb;
  border: none;

  &::placeholder {
    font-family: $ptMono;
    color: $white;
    font-size: 16px;
    line-height: 22px;
  }

  &:focus {
    outline: 1px solid $white;
  }

  &:hover {
    @include hover();
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (max-width: $mobile-width) {
    height: 104px;
    margin-bottom: 30px;
  }
}

.form button {
  @include btn();

  width: 48%;
  font-size: 14px;
  font-family: $robotoCondensed;
  line-height: 16px;
  padding: 11px 0;
  border: 1px solid $white;
  background-color: transparent;
  color: $white;

  &:hover {
    color: $blue;
    background-color: $white;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.form input[type="checkbox"] {
  display: none;
}

.form__group {
  width: 50%;
  padding-left: 70px;

  @media (max-width: $tablet-width) {
    padding-left: 75px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 35px;
    padding-left: 32px;
  }
}

.form label {
  position: relative;
  cursor: pointer;
  font-family: $ptMono;
  font-size: 14px;
  opacity: 0.8;

  // margin-left: 17px;
  // display: block;

  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid;
    top: 0;
    left: -38px;
  }

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
    left: -35px;
    top: 2px;
  }

  &:hover {
    @include hover();
  }

  @media (max-width: $mobile-width) {
    &::before {
      left: -33px;
    }

    &::after {
      left: -30px;
    }
  }
}

/* Прячем галку по умолчанию */
.form input[type="checkbox"] + label::after {
  content: none;
}

/* Показываем галку по состоянию checked */
.form input[type="checkbox"]:checked + label::after {
  content: "";
}
