.header {
  min-height: 875px;
  padding-bottom: 30px;
  padding-top: 20px;
  background: $grey url("../img/bg-header.webp") center no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $grey url("../img/bg-header@2x.webp") center no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    min-height: 688px;
    padding-top: 15px;
  }

  @media (max-width: $mobile-width) {
    min-height: 650px;
    padding-top: 6px;
  }
}

/* если не поддерживается webp */
.no-webp header {
  background: $grey url("../img/bg-header.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $grey url("../img/bg-header@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__list {
  width: calc(100% - 265px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: calc(100% - 215px);
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 52px);
  }
}

.header__item {
  font-family: $ptMono;
  padding-right: 50px;
  padding-bottom: 10px;
  z-index: 2;

  &:last-of-type {
    padding-right: 0;
  }

  :hover {
    @include hover();
  }

  @media (max-width: $tablet-width) {
    padding-right: 32px;

    &:last-of-type {
      padding-right: -30px;
    }
  }
}

.header__item--no_padding {
  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.header__item img {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: auto;
  }
}

.header__item-text {
  margin-left: 20px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__call {
  @include btn();

  width: 180px;
  font-family: $robotoCondensed;
  font-size: 14px;
  line-height: 16px;
  padding: 13px 0;
  border: 1px solid $white;
  background-color: transparent;

  &:hover {
    background-color: $blue;
    border: 1px solid $blue;
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
