.nav {
  color: $grey;
  position: relative;
}

.nav__title {
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
}

.nav__list {
  display: block;
  margin-top: 22px;
  column-count: 2;

  @media (max-width: $tablet-width) {
    column-count: 1;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__link {
  display: block;
  font-family: $ptMono;
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;
}
