.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 55px;

  @media (max-width: $tablet-width) {
    margin-top: 5px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.social__item {
  padding-right: 15px;
  padding-bottom: 5px;
}

.social__icon {
  &:hover {
    @include hover();
  }
}
